body{
    font-family:"Montserrat", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.logo img{
    height: 80px;
}

header{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

nav ul {
    padding: 8px 10px 8px 40px;
    border: 0px;
    background-color: #d8d8d8;
    border-radius: 30px;
    margin: 0 10px 0 25px;
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
}

.buscar{

    border-radius: 30px;
    border: 0px;
    background-color: white;
    margin: 0px;
    align-items: center;
    display: flex;
    color: rgb(186, 186, 186);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.buscar input {
    background: url(../../src/icons/search.svg) no-repeat scroll 7px 7px;
    background-size: 20px;
    padding: 8px 12px 8px 12px;
    border: 0;
    text-align: center;
    border-radius: 30px;
    font-family:"Montserrat", sans-serif;
}

.user {
    border-radius: 30px;
    border: 0px;
    background-color: #d8d8d8;
    padding: 10px 12px;
}

.banner {
    display: flex;
    justify-content: center;
}

.bannerSquare {
    background-color: #ffd100;
    border-radius: 30px;
    width: 800px;
    height: 300px;
    position: relative;
    margin: 130px 0 150px 0;
}

.textBanner{
    align-items: center;
    padding: 100px 0 0 40px;
}

.bannerSquare img {
    position: absolute;
    height: 400px;
    top: -100px;
    left: 50%;
}

.bannerSquare h1{
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.bannerSquare h5{
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.bannerSquare p{
    font-size: 14px;
    padding: 0;
    margin: 6px 0;
}

.comprarDiv{
    margin-left: 280px;
}
.comprar {
    border-radius: 30px;
    border: 0;
    padding: 8px 12px;
    font-family:"Montserrat", sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.franja{
    background-color: black;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: center;
}

.franja img {
    height: 250px;
    position: absolute;
    top: -90px;
    left: 16%;
}

.text1 {
    color: #ffd100;
    text-align: center;
}
.text1 p:first-child{
    margin: 0;
    font-size: 28px;
    font-weight: 200;
}
.text1 p:last-child{
    margin: 0;
    font-size: 35px;
    font-weight: 900;
}
.text2{
    color: white;
    text-align: center;
    margin: 0;
    font-size: 80px;
    font-weight: 900;
    margin-top: -15px;
    margin-left: 10px;
}
.text2 p{
    margin: 0;
}
.text3{
    color: #ffd100;
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}
.text3 p{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.productos{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 150px;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: visible;
    border: 0;
    border-radius: 30px;
    background-color: #ffd100;
}

.container img {
    position: absolute;
    top: -100px;
    left: -20px;
    width: 300px;
    height: 300px;
    z-index: 1;
    transform: rotate(10deg)
}

.textProduct{
    text-align: center;
    font-weight: 500;
}

.container2 {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: visible;
    border: 0;
    border-radius: 30px;
    background-color: #ffd100;
}
.container2 img {
    position: absolute;
    top: -80px;
    left: -70px;
    width: 420px;
    height: 420px;
    z-index: 1;
}

.section{
    display: flex;
    flex-direction: column;
}
