<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <div class="containerCreateProduct">
        <div class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </div>
        <h1>Crear Producto</h1>
        <div class="containerProduct">

            <form action="/listProducts" method="POST" enctype="multipart/form-data">

                <label for="name_product">Nombre</label>
                <input type="text" id="name_product" name="name_product">

                <label for="description">Descripción</label>
                <input type="text" id="description" name="description" rows="4" cols="50">

                <label for="price">Precio</label>
                <input type="text" id="price" name="price">

                <label for="">Categoria:</label><br>
                <div class="categoria">
                    <label for="hoodie">Hoodie</label><br>
                    <input type="radio" id="hoodie" name="category_product" value="hoodie">
                    <label for="jogger">Jogger</label><br>  
                    <input type="radio" id="jogger" name="category_product" value="jogger">
                    <label for="accesorios">Accesorios</label>
                    <input type="radio" id="accesorios" name="category_product" value="accesorios">
                </div>

                <label for="color">Color</label>
                <select name="color" id="color">
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                    <option value="azul">Azul</option>
                    <option value="Rojo">Rojo</option>
                </select>

                <label for="size">Talla</label>
                <select name="size" id="size">
                    <option value="negro">S</option>
                    <option value="blanco">M</option>
                    <option value="azul">L</option>
                    <option value="Rojo">XL</option>
                </select>

                <label for="">Imagen</label>
                <input type="file" id="imageFile" accept="image/*" name="image" multiple />
                <br>
                <button type="submit">Cargar</button>
                <p><a href="/listProducts" class="editar">Cancelar</a></p>
            </form>
        </div>
    </div>

</body>
</html>