<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <div class="containerCreateProduct">
        <a href="/createProduct" class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </a>
        <h1>Listado de Productos</h1>
        <div class="containerProduct">
            <img src="/images/white_hoodie.webp" height="150px" alt="Hoodie Blanco">
            <div>
                <p>Codigo: 1</p>
                <p>Nombre: Hoodie Blanco</p>
                <p>Precio: <strong>$59.99</strong></p>
                <a href="/" class="comprar">Editar</a>
            </div>
        </div>
    </div>

</body>
</html>