<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <!-- Componente Header -->
    <div class="content">
    </div>
    <header>
        <nav>
            <a href="/" class="logo">
                <img src="/images/logo.webp" alt="DavidLogo">
            </a>
            <ul class="menu">
                <a href="/products"><li>MUJERES</li></a>
                <a href="/products"><li>HOMBRES</li></a>
                <a href="/products"><li>NIÑOS</li></a>
                <a href="/products"><li>ACCESORIOS</li></a>
                <li class="buscar">
                    <input type="text" placeholder="buscar">
                </li>
            </ul>
            <a href="/login" class="user">
                <img src="/icons/user.svg" alt="Iniciar Sesion">
            </a>
            <a href="/productCart" class="user">
                <img src="/icons/cart.svg" alt="Carrito">
            </a>
        </nav>
    </header>
    <!-- Componente banner -->
    <div class="banner">
        <div class="bannerSquare">
            <img src="../../public/images/men.webp" alt="Hoodies">
            <div class="textBanner">
                <h1>DESCUBRE TU ESTILO</h1>
                <h5>Encuentra el estilo perfecto para cada momento.</h5>
                <p>Explora nuestra coleccion de <strong>hoodies</strong> de diseño único.</p>
                <div class="comprarDiv"><button class="comprar">COMPRAR</button></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>© 2024 Hecho con ♥ por David Guzman</p>
    </div>
    
    <!-- Componente Login -->
    
    
    <div class="login">
        <p><a href="/">X</a></p>
        <div>
            <h1>Iniciar Sesion</h1>
        </div>
        <form action="/login" method="POST">
            <div>
                <input type="email" name="email" placeholder="Correo electrónico*">
                <input type="password" name="password" placeholder="Contraseña*">
            </div>
            <br>
            <button type="submit" class="cuentaButton">INICIAR SESIÓN</button>
        </form>
        <p>¿No tienes una cuenta? <a href="/register"><strong>Crear cuenta</strong></a></p>
    </div>

</body>
</html>