<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <!-- Componente Header -->
    <%- include('partials/header')  %>

    <!-- Componente Productos -->
    <section>
        <h1><%= title  %></h1>
        <div class="contenedorProductos">
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/black_hoodie.webp" alt="Hoodie Negro">
                    <p>Hoodie Cuero</p>
                    <p><strong>$79.99</strong></p>
                </div>
            </a>

            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/white_hoodie.webp" alt="Hoodie Blanco">
                    <p>Hoodie Boxy</p>
                    <p><strong>$56.99</strong></p>
                </div>
            </a>

            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/hoodie_green.webp" alt="Hoodie Temporada">
                    <p>Hoodie Temporada</p>
                    <p><strong>$62.99</strong></p>
                </div>
            </a>
        </div>

        <div class="contenedorProductos">
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/blue_hoodie.webp" alt="Hoodie Stretch">
                    <p>Hoodie Stretch</p>
                    <p><strong>$61.99</strong></p>
                </div>
            </a>
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/hoodie_green.webp" alt="Hoodie Temporada">
                    <p>Hoodie Temporada</p>
                    <p><strong>$62.99</strong></p>
                </div>
            </a>
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/white_hoodie.webp" alt="Hoodie Blanco">
                    <p>Hoodie Boxy</p>
                    <p><strong>$56.99</strong></p>
                </div>
            </a>
        </div>

        <div class="contenedorProductos">
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/white_hoodie.webp" alt="Hoodie Blanco">
                    <p>Hoodie Boxy</p>
                    <p><strong>$56.99</strong></p>
                </div>
            </a>
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/black_hoodie.webp" alt="Hoodie Negro">
                    <p>Hoodie Cuero</p>
                    <p><strong>$79.99</strong></p>
                </div>
            </a>
            <a href="/productDetail">
                <div class="productos">
                    <img src="/images/blue_hoodie.webp" alt="Hoodie Stretch">
                    <p>Hoodie Stretch</p>
                    <p><strong>$61.99</strong></p>
                </div>
            </a>
        </div>
    </section>

   <!-- Componente Footer -->
   <%- include('partials/footer')  %>
   
</body>
</html>