<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <div class="containerCreateProduct">
        <div class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </div>
        <h1>Hola <%= user.firstName %> <%= user.lastName %></h1>
        <p><a href="/listProducts" class="logout-btn">> Dashboard</a></p>
        <p><a href="/logout" class="logout-btn">> Cerrar Sesión</a></p>

    </div>

</body>
</html>