<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head')  %>
<body>
    <div class="containerCreateProduct">
        <div class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </div>
        <a href="/logout" class="logout-btn">Cerrar Sesión</a>
        <h1></h1>
        <h3>Productos encontrados</h3>

        <div class="listProduct">

            <div class="containerProduct">


            </div>

        </div>
    </div>

</body>
</html>