<header>
    <nav>
        <a href="#" class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </a>
        <ul class="menu">
            <a href="#"><li>MUJERES</li></a>
            <a href="#"><li>HOMBRES</li></a>
            <a href="#"><li>NIÑOS</li></a>
            <a href="#"><li>ACCESORIOS</li></a>
            <a href="#"><li class="buscar"></a>
                <input type="text" placeholder="buscar">
            </li>
        </ul>
        <a href="/src/views/login.html" class="user">
            <img src="/icons/user.svg" alt="Iniciar Sesion">
        </a>
    </nav>
</header>