<header>
    <nav>
        <a href="/" class="logo">
            <img src="/images/logo.webp" alt="DavidLogo">
        </a>
        <ul class="menu">
            <a href="/products"><li>MUJERES</li></a>
            <a href="/products"><li>HOMBRES</li></a>
            <a href="/products"><li>NIÑOS</li></a>
            <a href="/products"><li>ACCESORIOS</li></a>
            <li class="buscar">
                <input type="text" placeholder="buscar">
            </li>
        </ul>
        <a href="/src/views/login.html" class="user">
            <img src="/icons/user.svg" alt="Iniciar Sesion">
        </a>
        <a href="/src/views/login.html" class="user">
            <img src="/icons/cart.svg" alt="Carrito">
        </a>
    </nav>
</header>