<div class="banner2">
    <div class="bannerSquare2">
        <img src="/images/jogger.webp" alt="Jogger">
        <div class="textBanner2">
            <span>JOGGERS</span>
            <p>Una combinación para cada día</p>
            <button class="comprar">VER TODOS</button>
        </div>
    </div>
</div>